In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.naive_bayes import GaussianNB

# Importando e categorizando os dados

In [7]:
data = pd.read_csv('bank.csv', sep=';')

boolean_columns = ['default', 'housing', 'loan', 'y']
categorical_columns = ['job', 'marital', 'education', 'contact', 'month', 'poutcome']
numerical_columns = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [8]:
def getReplaceMap(data, boolean_columns, categorical_columns):
    replace_map = {}
    for cat in categorical_columns+boolean_columns:
        replace_map[cat] = {}
        for idx, val in enumerate(data[cat].unique()):
            replace_map[cat][val] = idx
    return replace_map

In [9]:
replace_map = getReplaceMap(data, boolean_columns, categorical_columns)

In [10]:
data.replace(replace_map, inplace=True)

In [11]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,0,0,0,0,1787,0,0,0,19,0,79,1,-1,0,0,0
1,33,1,0,1,0,4789,1,1,0,11,1,220,1,339,4,1,0
2,35,2,1,2,0,1350,1,0,0,16,2,185,1,330,1,1,0
3,30,2,0,2,0,1476,1,1,1,3,3,199,4,-1,0,0,0
4,59,3,0,1,0,0,1,0,1,5,1,226,1,-1,0,0,0

# Quebrando o dataset em casos de treino e teste

In [12]:
dataX = data.iloc[:,:-1]#.values
dataY = data.iloc[:,16]#.values

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(dataX, dataY, test_size=0.20)

In [14]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# KNN
https://www.datacamp.com/community/tutorials/k-nearest-neighbor-classification-scikit-learn

In [24]:
KNN_classifier = KNeighborsClassifier(n_neighbors=5)
KNN_classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [25]:
Y_KNN_pred = KNN_classifier.predict(X_test)

In [43]:
print(f'Accuracy: {accuracy_score(Y_test, Y_KNN_pred)}')

Accuracy: 0.9082872928176795

In [44]:
print('Report:')
print(classification_report(Y_test, Y_KNN_pred))

Report:
              precision    recall  f1-score   support

           0       0.92      0.98      0.95       806
           1       0.67      0.31      0.43        99

    accuracy                           0.91       905
   macro avg       0.80      0.65      0.69       905
weighted avg       0.89      0.91      0.89       905

In [45]:
print('Matrix:')
print(confusion_matrix(Y_test, Y_KNN_pred))

Matrix:
[[791  15]
 [ 68  31]]

# Naive Bayes
https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

In [30]:
NB_classifier = GaussianNB()
NB_classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [31]:
Y_NB_pred = NB_classifier.predict(X_test)

In [40]:
print(f'Accuracy: {accuracy_score(Y_test, Y_NB_pred)}')

Accuracy: 0.8530386740331491

In [41]:
print('Report:')
print(classification_report(Y_test, Y_NB_pred))

Report:
              precision    recall  f1-score   support

           0       0.93      0.90      0.92       806
           1       0.36      0.44      0.40        99

    accuracy                           0.85       905
   macro avg       0.65      0.67      0.66       905
weighted avg       0.87      0.85      0.86       905

In [42]:
print('Matrix:')
print(confusion_matrix(Y_test, Y_NB_pred))

Matrix:
[[728  78]
 [ 55  44]]

# DECISION TREE
https://www.datacamp.com/community/tutorials/decision-tree-classification-python

In [34]:
# code here

# MLP
https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html/2

In [ ]:
# code here

# SVM
https://stackabuse.com/implementing-svm-and-kernel-svm-with-pythons-scikit-learn/

https://www.datacamp.com/community/tutorials/svm-classification-scikit-learn-python

In [36]:
# code here